* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.panel-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.panel-control-aside {
  width: 25%;
  height: 100%;
  background-color: #123D6E;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.panel-control-aside div {
  width: 280px;
  height: 280px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-control-aside div img {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  border: 1px solid black;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.panel-control-aside nav {
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.panel-control-aside nav a {
  text-decoration: none;
  color: black;
  background-color: white;
  width: 95%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}